<!DOCTYPE html>
<html>
    <head>
        <title>BLOG</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" type="text/css" href="/blog.css">
    </head>
    <body>
        <!--NAV BAR-->
        <div class="ui inverted pointing menu">
          <a class="item">
            <i class="edit icon"></i>
          </a>
          <a href="/blog" class="item">
            Home
          </a>
          <a href="/blog/new" class="item" >
            New Post
          </a>
        </div>