.item > i {
    font-size: 2em;
    padding-left: 10px;
    color: white;
}

.caret.right.icon{
    font-size: 1.4em;
    
}

.container{
    margin-bottom: 20px;
}

.container > .card{
    margin: 0 auto;
    width: 600px;
}

hr{
    opacity: 0.3;
}

#delete{
    display: inline;
}